<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style_admin.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" type="image/ico">
  <title>Green Burguer - Descubra um novo conceito de gastronomia</title>
</head>
<body>
    <header>
      <nav id="responsivo">
        <div class="container" id="fixa">
          <div id="botao_menu"><i class="fa-solid fa-bars"></i></div>
        </div>
        <div id="invisivel">
          <a href="{{ url_for('html_routes.admin_index') }}">Início</a>
          <a href="{{ url_for('html_routes.admin_pedidosDiario') }}">Pedidos</a>
          <a href="{{ url_for('html_routes.admin_adicionar') }}">Adicionar</a>
          <a href="{{ url_for('html_routes.admin_cardapio') }}">Cardápio</a>
          <a href="{{ url_for('html_routes.admin_promocoes') }}">Promoções</a>
          <a href="{{ url_for('html_routes.admin_adicionarMapa') }}">Localização</a>
          <a id="sair_admin"> Sair</a>
        </div>
      </nav>
  </header>
  <main>
    <section id="popup">
      <div class="container">
        <span id="botao_close"><i class="fa-solid fa-close"></i></span>
        <article>
            <span><i class="fa-solid fa-circle-exclamation"></i></span>
            <h1>Atenção</h1>
            <p id="erro_popup"></p>
        </article>
      </div>
    </section>
    <section class="esquerda" id="esquerda">
      <div class="logo"></div>
      <nav>
        <ul>
          <a href="{{ url_for('html_routes.admin_index') }}"><li><i class="fa-solid fa-house"></i> Início</li></a>
          <a href="{{ url_for('html_routes.admin_pedidosDiario') }}"><li><i class="fa-solid fa-receipt"></i> Pedidos</li></a>
          <a href="{{ url_for('html_routes.admin_cardapio') }}"><li><i class="fa-solid fa-utensils"></i> Cardápio</li></a>
          <a href="{{ url_for('html_routes.admin_promocoes') }}"><li><i class="fa-solid fa-percent"></i> Promoções</li></a>
          <a href="{{ url_for('html_routes.admin_adicionarMapa') }}"><li><i class="fa-solid fa-map"></i> Localizaçáo</li></a>
          <a id="sair_admin_normal"><li><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</li></a>
         </ul>
        </nav>
    </section>
    <section class="direita">
      <h1>Pedidos do Dia</h1>
      <a href="{{ url_for('html_routes.admin_pedidos') }}"><button><i class="fa-solid fa-eye"></i> Ver Todos os pedidos</button></a>
      <div class="container" id="mostrarPedidosAdmin">
        <article class="box_pedido">
          <div class="itens">
            
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer>
    <center>
      <p>Todos os direitos reservados</p>
    </center>
  </footer>
  <script src="{{ url_for('static', filename='assets/js/menuAdmin.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='assets/js/logado_admin.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='assets/js/historico_pedidos.js') }}" type="module"></script>
</body>
</html>